<h3><i class="fa fa-book-reader"></i>StoryBook</h3>
<div class="section">
    <div class="lead">Create public books</div>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google"></i>
        login with google
    </a>
</div>